{% extends 'base.html.twig' %}

{% block title %}Test fake date !{% endblock %}

{% block body %}
    {# Use theme bootstrap  #}
    <div class="container-fluid mt-4 w-50">
        {{ form(form) }}
    </div>
{% endblock %}
